In [9]:
import os 
dir_path = os.path.dirname(os.path.realpath("__file__"))
os.chdir(dir_path)

In [10]:
from data_collection import get_sym_data
from data_cleaning import foward_fill, normalize
import database_manager as dm
from pykx import q, QError
os.chdir(dir_path)

In [11]:
# pull google stock data
sym = "googl"
sym = sym.upper()
table = get_sym_data(sym)
print(table)

Datetime                      Open     High     Low      Close    Volume
------------------------------------------------------------------------
2024.07.02D13:30:00.000000000 182.01   182.63   182      182.54   706507
2024.07.02D13:31:00.000000000 182.52   182.52   182.01   182.03   65513
2024.07.02D13:32:00.000000000 182.03   182.31   182.03   182.305  68866
2024.07.02D13:33:00.000000000 182.31   182.4894 182.31   182.35   78758
2024.07.02D13:34:00.000000000 182.3461 182.3838 182.05   182.11   44688
2024.07.02D13:35:00.000000000 182.115  182.27   181.9301 181.9301 58004
2024.07.02D13:36:00.000000000 181.97   182.09   181.63   181.63   83597
2024.07.02D13:37:00.000000000 181.635  181.8    181.565  181.7    101035
2024.07.02D13:38:00.000000000 181.69   182.07   181.69   181.775  99613
2024.07.02D13:39:00.000000000 181.7997 181.86   181.7    181.79   74468
2024.07.02D13:40:00.000000000 181.77   181.9    181.6999 181.79   62158
2024.07.02D13:41:00.000000000 181.7853 181.85   181.69   181.85   46367
2024.07.02D13:42:00.000000000 181.8553 182.1    181.82   182.08   56944
2024.07.02D13:43:00.000000000 182.06   182.15   182.01   182.05   47253
2024.07.02D13:44:00.000000000 182.0405 182.2    182.03   182.16   45403
2024.07.02D13:45:00.000000000 182.185  182.21   181.88   181.89   42771
2024.07.02D13:46:00.000000000 181.88   182.12   181.85   182.12   39053
2024.07.02D13:47:00.000000000 182.123  182.15   182      182      33993
2024.07.02D13:48:00.000000000 182.01   182.09   181.95   182.085  38596
2024.07.02D13:49:00.000000000 182.09   182.14   181.965  182.02   59401
..

In [12]:
q.set('t',table)
q('count t')

pykx.LongAtom(pykx.q('389'))

In [13]:
q('del:389?2')
q('count del')

pykx.LongAtom(pykx.q('389'))

In [14]:
# simuate missing values
table = q('update Close: ?[del=0; 0Nf; Close] from t')
print(table)

Datetime                      Open     High     Low      Close    Volume
------------------------------------------------------------------------
2024.07.02D13:30:00.000000000 182.01   182.63   182      182.54   706507
2024.07.02D13:31:00.000000000 182.52   182.52   182.01   182.03   65513
2024.07.02D13:32:00.000000000 182.03   182.31   182.03   182.305  68866
2024.07.02D13:33:00.000000000 182.31   182.4894 182.31   182.35   78758
2024.07.02D13:34:00.000000000 182.3461 182.3838 182.05   182.11   44688
2024.07.02D13:35:00.000000000 182.115  182.27   181.9301 181.9301 58004
2024.07.02D13:36:00.000000000 181.97   182.09   181.63   181.63   83597
2024.07.02D13:37:00.000000000 181.635  181.8    181.565           101035
2024.07.02D13:38:00.000000000 181.69   182.07   181.69   181.775  99613
2024.07.02D13:39:00.000000000 181.7997 181.86   181.7    181.79   74468
2024.07.02D13:40:00.000000000 181.77   181.9    181.6999          62158
2024.07.02D13:41:00.000000000 181.7853 181.85   181.69            46367
2024.07.02D13:42:00.000000000 181.8553 182.1    181.82   182.08   56944
2024.07.02D13:43:00.000000000 182.06   182.15   182.01            47253
2024.07.02D13:44:00.000000000 182.0405 182.2    182.03   182.16   45403
2024.07.02D13:45:00.000000000 182.185  182.21   181.88   181.89   42771
2024.07.02D13:46:00.000000000 181.88   182.12   181.85            39053
2024.07.02D13:47:00.000000000 182.123  182.15   182      182      33993
2024.07.02D13:48:00.000000000 182.01   182.09   181.95   182.085  38596
2024.07.02D13:49:00.000000000 182.09   182.14   181.965           59401
..

In [7]:
# forward fill missing values
table = foward_fill(table)
print(table)

Datetime                      Open     High     Low      Close    Volume
------------------------------------------------------------------------
2024.07.02D13:30:00.000000000 182.01   182.63   182               706507
2024.07.02D13:31:00.000000000 182.52   182.52   182.01            65513
2024.07.02D13:32:00.000000000 182.03   182.31   182.03            68866
2024.07.02D13:33:00.000000000 182.31   182.4894 182.31   182.35   78758
2024.07.02D13:34:00.000000000 182.3461 182.3838 182.05   182.35   44688
2024.07.02D13:35:00.000000000 182.115  182.27   181.9301 181.9301 58004
2024.07.02D13:36:00.000000000 181.97   182.09   181.63   181.9301 83597
2024.07.02D13:37:00.000000000 181.635  181.8    181.565  181.7    101035
2024.07.02D13:38:00.000000000 181.69   182.07   181.69   181.7    99613
2024.07.02D13:39:00.000000000 181.7997 181.86   181.7    181.79   74468
2024.07.02D13:40:00.000000000 181.77   181.9    181.6999 181.79   62158
2024.07.02D13:41:00.000000000 181.7853 181.85   181.69   181.85   46367
2024.07.02D13:42:00.000000000 181.8553 182.1    181.82   182.08   56944
2024.07.02D13:43:00.000000000 182.06   182.15   182.01   182.08   47253
2024.07.02D13:44:00.000000000 182.0405 182.2    182.03   182.08   45403
2024.07.02D13:45:00.000000000 182.185  182.21   181.88   181.89   42771
2024.07.02D13:46:00.000000000 181.88   182.12   181.85   181.89   39053
2024.07.02D13:47:00.000000000 182.123  182.15   182      182      33993
2024.07.02D13:48:00.000000000 182.01   182.09   181.95   182      38596
2024.07.02D13:49:00.000000000 182.09   182.14   181.965  182      59401
..

In [8]:
# N_normalized price change %
# R_daily return %
# C_culminative returns %
table = normalize(table)
q.set('t',table)
table = q('select Datetime, Open, N_Open, R_Open, C_Open from t')
table

pykx.Table(pykx.q('
Datetime                      Open     N_Open    R_Open      C_Open
------------------------------------------------------------------------
2024.07.02D13:30:00.000000000 182.01   1         0           0
2024.07.02D13:31:00.000000000 182.52   1.28021   0.2802098   0.2802098
2024.07.02D13:32:00.000000000 182.03   1.010991  -0.269219   0.01099075
2024.07.02D13:33:00.000000000 182.31   1.164828  0.153837    0.1648278
2024.07.02D13:34:00.000000000 182.3461 1.184663  0.01983534  0.1846631
2024.07.02D13:35:00.000000000 182.115  1.057695  -0.126968   0.05769518
2024.07.02D13:36:00.000000000 181.97   0.9780269 -0.0796683  -0.02197313
2024.07.02D13:37:00.000000000 181.635  0.7939674 -0.1840595  -0.2060326
2024.07.02D13:38:00.000000000 181.69   0.8241898 0.03022248  -0.1758102
2024.07.02D13:39:00.000000000 181.7997 0.8844587 0.06026891  -0.1155413
2024.07.02D13:40:00.000000000 181.77   0.8681445 -0.01631427 -0.1318555
2024.07.02D13:41:00.000000000 181.7853 0.8765447 0.008400257 -0.1234553
2024.07.02D13:42:00.000000000 181.8553 0.9150082 0.03846345  -0.08499182
2024.07.02D13:43:00.000000000 182.06   1.027473  0.1124645   0.0274727
2024.07.02D13:44:00.000000000 182.0405 1.016759  -0.0107141  0.0167586
2024.07.02D13:45:00.000000000 182.185  1.09615   0.07939165  0.09615024
2024.07.02D13:46:00.000000000 181.88   0.9285811 -0.1675692  -0.07141895
2024.07.02D13:47:00.000000000 182.123  1.062088  0.1335071   0.06208812
2024.07.02D13:48:00.000000000 182.01   1         -0.06208812 0
2024.07.02D13:49:00.000000000 182.09   1.043955  0.04395464  0.04395464
..
'))