In [1]:
import os 
dir_path = os.path.dirname(os.path.realpath("__file__"))
os.chdir(dir_path)

In [2]:
from data_collection import get_sym_data, get_new_sym_data
import database_manager as dm
from pykx import q
from datetime import datetime, date, timezone
from zoneinfo import ZoneInfo
os.chdir(dir_path)

In [3]:
sym = "aapl"
sym = sym.upper()


date_string = "26062024"
format = "%d%m%Y"
date = datetime.strptime(date_string, format).date()
table = get_sym_data(sym)
print(table)

Datetime                      Open     High     Low      Close    Volume
-------------------------------------------------------------------------
2024.07.02D13:30:00.000000000 216.15   216.47   215.84   215.9301 1662446
2024.07.02D13:31:00.000000000 215.99   216.38   215.54   215.95   176303
2024.07.02D13:32:00.000000000 215.96   216.12   215.75   215.99   199037
2024.07.02D13:33:00.000000000 216      216.29   215.97   215.99   146868
2024.07.02D13:34:00.000000000 215.98   216.09   215.56   215.58   178534
2024.07.02D13:35:00.000000000 215.57   215.94   215.1    215.895  402296
2024.07.02D13:36:00.000000000 215.9    216.38   215.89   216.33   286317
2024.07.02D13:37:00.000000000 216.32   216.71   216.3005 216.58   312556
2024.07.02D13:38:00.000000000 216.58   217.14   216.575  217.11   503839
2024.07.02D13:39:00.000000000 217.09   217.12   216.6375 216.72   210358
2024.07.02D13:40:00.000000000 216.645  217.006  216.475  216.88   218240
2024.07.02D13:41:00.000000000 216.8789 217.04   216.5812 216.7    215326
2024.07.02D13:42:00.000000000 216.6751 217.27   216.64   217.24   279073
2024.07.02D13:43:00.000000000 217.2186 217.34   217.04   217.17   225259
2024.07.02D13:44:00.000000000 217.1905 217.46   217.1408 217.46   204524
2024.07.02D13:45:00.000000000 217.4643 217.9    217.4643 217.875  324882
2024.07.02D13:46:00.000000000 217.8755 217.8899 217.45   217.7091 240532
2024.07.02D13:47:00.000000000 217.71   217.97   217.5799 217.5799 273308
2024.07.02D13:48:00.000000000 217.58   217.6    217.2512 217.33   224981
2024.07.02D13:49:00.000000000 217.3001 217.505  217.27   217.3699 158849
..

In [4]:
dm.save_table(table, sym)

table = dm.read_table(sym)
print(table)

Datetime                      Open     High     Low      Close    Volume
-------------------------------------------------------------------------
2024.07.02D13:30:00.000000000 216.15   216.47   215.84   215.9301 1662446
2024.07.02D13:31:00.000000000 215.99   216.38   215.54   215.95   176303
2024.07.02D13:32:00.000000000 215.96   216.12   215.75   215.99   199037
2024.07.02D13:33:00.000000000 216      216.29   215.97   215.99   146868
2024.07.02D13:34:00.000000000 215.98   216.09   215.56   215.58   178534
2024.07.02D13:35:00.000000000 215.57   215.94   215.1    215.895  402296
2024.07.02D13:36:00.000000000 215.9    216.38   215.89   216.33   286317
2024.07.02D13:37:00.000000000 216.32   216.71   216.3005 216.58   312556
2024.07.02D13:38:00.000000000 216.58   217.14   216.575  217.11   503839
2024.07.02D13:39:00.000000000 217.09   217.12   216.6375 216.72   210358
2024.07.02D13:40:00.000000000 216.645  217.006  216.475  216.88   218240
2024.07.02D13:41:00.000000000 216.8789 217.04   216.5812 216.7    215326
2024.07.02D13:42:00.000000000 216.6751 217.27   216.64   217.24   279073
2024.07.02D13:43:00.000000000 217.2186 217.34   217.04   217.17   225259
2024.07.02D13:44:00.000000000 217.1905 217.46   217.1408 217.46   204524
2024.07.02D13:45:00.000000000 217.4643 217.9    217.4643 217.875  324882
2024.07.02D13:46:00.000000000 217.8755 217.8899 217.45   217.7091 240532
2024.07.02D13:47:00.000000000 217.71   217.97   217.5799 217.5799 273308
2024.07.02D13:48:00.000000000 217.58   217.6    217.2512 217.33   224981
2024.07.02D13:49:00.000000000 217.3001 217.505  217.27   217.3699 158849
..

In [5]:
table = get_new_sym_data(sym)
table

pykx.Table(pykx.q('
Datetime                      Open    High     Low     Close    Volume
----------------------------------------------------------------------
2024.07.02D17:46:00.000000000 219.63  219.7    219.615 219.65   0
2024.07.02D17:47:00.000000000 219.65  219.6895 219.635 219.6895 43972
2024.07.02D17:48:00.000000000 219.685 219.685  219.685 219.685  0
'))